/* .container{
    display: 
    margin-top: 10px;
  } */
  
  
  .link{
    text-decoration: none;
    color: inherit;
  }
  
  .product1 {
      flex: 4;
      margin-left: 40px;
    }
    .productAddButton {
        width: 150px;
        border: none;
        padding: 5px;
        background-color: teal;
        color: white;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
      }

      .productTitleContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      /* .product {
        text-align: center;
        margin: 0;
        padding: 0;
        border: 1px solid #e2e2e2;
        box-shadow: 1px 1px .5em #d8d8d8;
      }


      .product img {
        display: block;
        overflow: hidden;
        margin: 0;
      }
      .product .content {
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: .8em;
      }
      
      .product img:hover {
        opacity: 0.9;
      }
      
      .content h3 {
        text-transform: uppercase;
        margin: 0;
        padding: 0;
      }
      
      .content span {
        font-size: 1.15rem;
      }
      
      h3 + span {
        margin-top: .5em;
      }
      
      .content a {
        color: rgb(69, 67, 67);
        text-decoration: none;
      } */